In [1]:
# from bokeh.plotting import figure, output_file, show
import gzip
import io
import pandas as pd


import sqlite3

In [2]:
## This notebook was tested on ISBNs that had been normalized to 13 digits 
## by adding additional leading zeroes to 10-digit ISBNs and formatting as text.
## ISBNs ending in "X" were already text, and remained as 10 digits in both CSV files.

isbns = pd.read_csv('isbns/isbns-sample.csv')
bsns = pd.read_csv('isbns/bsn_isbn.csv')

In [3]:
isbns_sql = sqlite3.connect(":memory:")

In [4]:
isbns.to_sql('isbns',isbns_sql,if_exists = "replace")
bsns.to_sql('bsns',isbns_sql,if_exists = "replace")

In [5]:
isbncheck = pd.read_sql_query('''SELECT bsns.bsn, bsns.isbnnormalized, 
isbns.isbnnormalized, isbns.shelf, isbns.shelfplace
FROM bsns, isbns
WHERE bsns.isbnnormalized = isbns.isbnnormalized

order by isbns.shelf, isbns.shelfplace''', isbns_sql)

isbncheck

        bsn isbnnormalized isbnnormalized shelf  shelfplace
0   2007896  0003805311877  0003805311877    4B           3
1    384320  0000877277052  0000877277052    4B           7
2   2354452  0009813002700  0009813002700    4B          10
3   4095657  0000810928531  0000810928531    4B          13
4   4095657  9780810928534  9780810928534    4B          13
5   2368885  0000521565057  0000521565057    4B          16
6   4093270  0002708405861  0002708405861    5C           7
7   4093270  9782708405868  9782708405868    5C           7
8   2649589  0000812278569  0000812278569    5C          10
9   2657778  0000870993267  0000870993267    5C          13
10  2750183  0000877277001  0000877277001    5C          23